body:hover{
    background-color: aqua;
    animation-name: example;
    animation-duration: 0.4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
   25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
.container{
 
 
}

.header{
    display: flex;
    justify-content: space-between;
}
.image{
    border: 4px rgb(185, 11, 11) solid;
    border-radius: 50%;
}
img{
    padding : 5px; 
    border-radius: 50%;
   
}
img:hover{
    transform: scale(2.5)rotate(180deg);
     
    animation:spin 1s linear infinite;
    
    
}
 
 
@keyframes spin { 100% { transform:rotate(360deg);}   
       
     
    
}
.name{
    margin-right: 58%;
     
}
 .summary{
    display: flex;
     

 }
 .summary p{
    margin: 0px 100px;
    
    padding: 10px  ;
 }
 .experience{
    display:flex;
    justify-content: flex-start;
 }
 .experience ol{
    margin-left: 8vw;
    
    padding: 10px 
 }
 .skills{
    display: flex;
    justify-content: space-between;
    padding :0px 
 }
 ul{
    margin-right: 12vw;
    
 }
 .eduction{
    display: flex;
    justify-content: space-between;
 }
 .eduction p{
    margin: 0px 100px;
    
    padding: 10px  ;
 }